
.Header {
  background: url('../images/ricoysaludable.png') no-repeat;
  background-color: #282c34;
  background-position: center;
  background-size: 100%;
  background-attachment: inherit;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
}

.Register {
  text-align: right;
  color: black;
}

.Register p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.Register ul {
  padding-left: 0%;
}

.Register li {
  display: inline-block;
  margin-right: 1%;
}

.Logo {
  padding-inline-end: 15%;
  padding-inline-start: 15%;
}

.LogoImg{
  padding-inline-end: 10%;
  padding-inline-start: 10%;
  max-height: inherit;
}

.LogoImg img {
  width: 100%;
  max-width: 90vh;
}

.Logo h2 {
  align-items: center;
  margin-block-start: 1%;
  margin-block-end: 1%;
  font-size: calc(2vw + 2vh / 2);
}
