
.Header {
  background: url('../images/ricoysaludable.png') no-repeat;
  background-color: #282c34;
  background-position: center;
  background-size: cover;
  background-attachment: inherit;
  min-height: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
}

.Language {
  text-align: right;
  color: white;
}

.Language p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.Logo img {
  height: 90px;
}

.Logo h2 {
  align-items: center;
}
