.Main {
    margin: 20px 20px;
    width: 100%;
}

.TitlesBackground {
    background: linear-gradient(to bottom,#ffffff82 0%, #ffffff80 100%), url('../images/pedidos.jpg') no-repeat;
    background-attachment: fixed;
    background-position: initial;
    background-size: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
}

.Main h1 {
    max-height:inherit;
    font-size: calc(2.5vw + 2vh / 2);
}

.Main h2 {
    max-height:inherit;
    font-size: calc(2vw + 2vh / 2);
}

.Main h3 {
    max-height:inherit;
    margin-block-start: 1%;
    margin-block-end: 1%;
    font-size: calc(1.5vw + 1.5vh / 2);
}
